<div layout="column" layout-fill>
    <mat-toolbar>
        <span class="truncate">Data migration</span>
        <span flex></span>
    </mat-toolbar>
    <div class="mat-content">
        <mat-card>
            <mat-card-content>
                <fims-office-datamigration></fims-office-datamigration>
                <fims-branchOffice-datamigration></fims-branchOffice-datamigration>
                <fims-employee-datamigration></fims-employee-datamigration>
                <fims-customers-datamigration></fims-customers-datamigration>
                <fims-ledgers-datamigration></fims-ledgers-datamigration>
                <fims-subledgers-datamigration></fims-subledgers-datamigration>
                <fims-account-datamigration></fims-account-datamigration>
                <fims-journal-migration></fims-journal-migration>
                <fims-group-datamigration></fims-group-datamigration>
                <fims-group-definition-migration></fims-group-definition-migration>
                <fims-teller-datamigration></fims-teller-datamigration>
                <fims-product-datamigration></fims-product-datamigration>
                <fims-product-definition-migration></fims-product-definition-migration>
                <fims-product-instance-migration></fims-product-instance-migration>
                <fims-action-migration></fims-action-migration>
                <fims-user-datamigration></fims-user-datamigration>
            </mat-card-content>
        </mat-card>
    </div>
</div>