<mat-card class="example-card">
    <mat-card-header>
        <h3> Users Migration</h3>
    </mat-card-header>

    <mat-card-content>

        <div class="template1">
            <button mat-raised-button color="primary" (click)="usersTemplate()">DownLoad Template</button>
        </div>
        <div class="upload1">
            <input id="input-file-id" multiple type="file" accept=".xlsx" (change)="selectFile($event)" enctype="multipart/form-data"
            />
            <button mat-raised-button color="accent" (click)="uploadUsers()" class="but3" type="submit" [disabled]="!selectedUserFiles">Upload</button>
        </div>

    </mat-card-content>
</mat-card>