<mat-card class="example-card">
        <mat-card-header>
            <h3>  Deposit Action  Migration </h3>
        </mat-card-header>
    
        <mat-card-content>
    
            <div class="template1">
                <button mat-raised-button color="primary" (click)="actionTemplate()">DownLoad Template</button>
            </div>
            <div class="upload1">
                <input id="input-file-id" multiple type="file" accept=".xlsx" (change)="selectFile($event)" enctype="multipart/form-data"
                />
                <button mat-raised-button color="accent" (click)="uploadAction()" class="but3" type="submit" [disabled]="!selectedActionFiles">Upload</button>
            </div>
    
        </mat-card-content>
    </mat-card>